# GitHub Personal Access Token (PAT)
# Generate a token at https://gits-15.sys.kth.se/settings/tokens with the 'repo' scope
# Copy this file to 'GITHUB_TOKEN.env' and replace the placeholder below with your actual token

YOUR_GITHUB_PERSONAL_ACCESS_TOKEN_GOES_HERE